
html,body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #111111;
}

body {
    width: 960px;
    margin: 0 auto;
}

img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

figure {
    text-align: center;
}

.buttonbox {
    width: 100%;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 0 40px;
    border: 1px solid #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: #FF0000;
    color: #000000;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    margin-left: 20px;
}

.button:first-child {
    margin-left: 0;
}

.button:hover {
    cursor: pointer;
    background-color: #0000FF;
    color: #ffffff;
}

#help {
    text-align: center;
    padding-top: 40px;
}

#help p {
    font-size: 36px;
    line-height: 36px;
}

#questions {
    display: none;
}

#questions .question {
    display: none;
}

#questions .question:first-child {
    display: block;
}

#questions .question p {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
}


#end {
    display: none;
    text-align: center;
    padding-top: 40px;
}

#end p {
    font-size: 36px;
    line-height: 36px;
}

#end .end {
    clear: both;
}

#end .end figure {
    float: left;
}

#end .end img {
    width: 100px;
    height: auto;
}

#end .end .answers {
    width: 600px;
    float: left;
    margin-left: 20px;
}



